@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-dark: #0a0a0a;
  --color-light: #f1f1f1;
  --font-title: "Unbounded", sans-serif;
  --font-text: "Satoshi", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  min-height: 100%;
  @apply bg-dark text-light font-text;
}
